<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Environment name="spring.config.location" value="file://{{ govhub_application_properties_dir }}/" type="java.lang.String"/>
    <Environment name="spring.config.name" value="{{ govhub_app.nome }}" type="java.lang.String"/>
</Context>