CATALINA_HOME={{ tomcat_install_dir }}/apache-tomcat-{{ tomcat_version }}
CATALINA_BASE={{ tomcat_install_dir }}/apache-tomcat-{{ tomcat_version }}
CATALINA_TMPDIR=/var/tmp/apache-tomcat-{{ tomcat_version }}
JAVA_HOME=/usr/lib/jvm/jre-11
